@model KooliProjekt.Data.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarNum" class="control-label"></label>
                <input asp-for="CarNum" class="form-control" />
                <span asp-validation-for="CarNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="CarType" class="control-label"></label>
                <select asp-for="CarType" 
                    asp-items="Html.GetEnumSelectList<KooliProjekt.Data.CarType>()" 
                    class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <!--<select asp-for="CarType" class="form-control"></select>-->
                <span asp-validation-for="CarType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistancePrice" class="control-label"></label>
                <input asp-for="DistancePrice" class="form-control" />
                <span asp-validation-for="DistancePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimePrice" class="control-label"></label>
                <input asp-for="TimePrice" class="form-control" />
                <span asp-validation-for="TimePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type = "file" name = "image"  class="form-control" accept = "image/png, image/jpeg" />
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    | <a asp-action="Index">Back to List</a> | 
    <a asp-controller="Customer" asp-action="AdminPanel">Back to Admin Panel</a> |
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
